# Dependencies & build
node_modules/
.next/
*.node

# Environment
.env
.env.local
.env*.local

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk